
	
	label:before {
  content: url("image/bd/unchecked_checkbox.png");
  position: absolute;
  z-index: 100;
}
:checked+label:before {
  content: url("image/bd/checked_checkbox.png");
}
input[type=checkbox] {
  display: none;
}
/*pure cosmetics:*/
img {
  width: 300px;
  height: 200px;
}
label {
  margin: 10px;
}
#cb{
    height: 50px;
    width: 100%;
    background: #f2f2f2;
    padding:10px 0px 0px 120px; 
    box-shadow: 1px 1px 1px #e0e0e0;
    
}
#cb img{
    float: left;
  width: 300px;
  height: 200px;
    transition: ease-in-out 500ms;
    
}

#cb p a{
    text-decoration: none;
    color: black;
}
.dropdown {
    float: left;
    overflow: hidden;
	outline:none;
}

.dropdown .dropbtn {
      
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
   
    margin: 0;
}
#navigation a:hover{
    background-color: white ;
	font-size:25px;
}
#navigation a:hover, .dropdown:hover .dropbtn {
    background-color: white;
	font-size:25px;
}

.dropdown-content {
    display: none;
    position: absolute;
   
    min-width: 160px;
   background: #f2f2f2;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: black;
	font-size:25px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
